# Java
*.class
*.jar
*.war
*.ear
out/
build/
target/
*.iml

# IntelliJ IDEA
.idea/
*.iws
*.ipr

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/
bin/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs (vi lagrer disse i /logs mappen, ikke i repo)
logs/
*.log
